/* Hero Taller */
.taller-hero {
    background: linear-gradient(rgba(62, 39, 35, 0.45), rgba(62, 39, 35, 0.45)), 
        url('/assets/img/pansy2_banner.png');
    background-color: var(--crema);
    padding: 160px 20px 80px 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.taller-hero h1 {
    font-size: 3rem;
    color: var(--color-blanco);
    margin-bottom: 20px;
}

.taller-hero .subtitle {
    max-width: 800px;
    margin: 0 auto;
    color: var(--color-fondo);
    font-size: 1.2rem;
    line-height: 1.6;
}
